@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    /* Background image */
    /* background-image: url('/Cristmastree.jpg'); */
  
    /* Background properties */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Don't repeat the image */
  
    /* Gradient overlay */
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), /* Top color with transparency */
        rgba(0, 0, 0, 0.3)
      ),
      url('/Cristmastree.jpg'); /* The image is applied here again */
  
    /* The gradient and image both need to be mentioned in the background property */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  


  /* For WebKit browsers (Chrome, Safari, Edge) */
  
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2c2c2c; /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark color for the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
  /* border: 2px solid #2c2c2c; Optional: adds a border for thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Lighter shade when hovered */
}

